@font-face {
  font-family: "archia-regular";
  src: url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf")
      format("woff"),
    url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf")
      format("opentype"),
    url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf")
      format("truetype");
}

@font-face {
  font-family: 'intro_script_demomedium';
  src: url('./font/introscriptdemo-medium.woff2') format('woff2');
  src: url('./font/introscriptdemo-medium.woff') format('woff');
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#scritta-per-inserire-metodo{
	cursor: pointer;
	margin: 0; 
	font-weight: 800; 
	color: #2F2F2F;	
}

#scritta-per-inserire-metodo:hover{	
	color: green;
}


#tasto-conferma-pagamento{
	cursor:pointer;
}

#bonific{
	display: none;
}

#svuota-carrello{
	font-family:"archia-regular";
	font-size: 1rem;
}

#svuota-carrello:hover{
	font-family:"archia-regular";

	font-weight: 999;
}

.bottone-inserisci{
	border: 1px solid #2f2f2f;
  border-radius: 25px;
  width: 50%;
	background-color: transparent;
  padding: 15px 30px;	
  font-family: "archia-regular";
}

#form-carta{
	display:none;
}

a {
  color: #2f2f2f;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font: inherit;
  font-family: "archia-regular";
  cursor: pointer;
}

ion-icon, span { display: inline-block; }

label, img { display: block;   font-family: "archia-regular";}

input {
  padding-left: 10px;
  font: inherit;
  width: 100%;
  border: none;
  outline: none;
}

input:focus { outline: none;}

/**
 * Remove number input up & down button
 */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance:         none;
  -webkit-appearance: none;
}

/**
 * Custom scrollbar style
 */
::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background: transparent; }

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }

.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

span{
	font-family: "archia-regular";
}

.heading {
font-family: 'intro_script_demomedium';
  font-size: 4rem;
  color: #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  padding: 20px ;
  display:     flex;
  align-items: center;
  gap: 20px;
}

.heading ion-icon { font-size: 4rem; }

.item-flex {
  display: flex;
  flex-grow: 1;
}

.checkmark{
	display:none;
}

.checkout {
  width: 70%;
  padding: 40px ;
  border-right: 1px solid #2f2f2f;
}

.section-heading {
    font-family: "archia-regular";
  color: #2f2f2f;
  margin-bottom: 30px;
}


.payment-form { margin-bottom: 40px; }

.payment-method {
  display:     flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.method-1{
border: 1px solid #2f2f2f;
  border-radius: 25px;
  width: 50%;
  display:     flex;
  flex-direction: column;

  padding: 15px 30px;
  gap: 20px;	
}


.payment-method .method {
  border: 1px solid #2f2f2f;
  border-radius: 100px;
  width: 50%;
  display:     flex;
  align-items: center;
  padding: 15px 30px;
  gap: 20px;
  cursor: pointer;
  
}
.payment-method .method:hover{
  color: #95c05c;
}

.payment-method .selected { border-color:aqua; }

.payment-method .method ion-icon { font-size: 20px; }

.payment-method .method .checkmark {
  margin-left: auto;
  color: black;
}

.payment-method .method .fill { color:black; }


.label-default {
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #2f2f2f;
}

.input-submit{
	  background: transparent;
  border-radius: 20px;
  width: 50%;
  height: 40px;
  border: 1px solid #2f2f2f;
  cursor:pointer;
}


.input-default {
  background: transparent;
  border-radius: 20px;
  width: 70%;
  height: 40px;
  border: 1px solid #2f2f2f;
}

input:focus {
  border: 2px solid green;
}

.payment-form input {
  padding: 10px 15px;
  font-family: "archia-regular";
}
.input-default{
	  font-family: "archia-regular";
  border-radius: 100px;
}
.cardholder-name,
.card-number { margin-bottom: 20px; }

.card-number input,
.cvv input { letter-spacing: 3px; }

.input-flex {
  display:flex;
  align-items: center;
  gap: 30px;
  
}

#expire-date{
	width: 33%;
}

.input-flex .expire-date,
.input-flex .cvv { width: 30%; }

.expire-date .input-flex {
  color: var(--spanish-gray);
  gap: 13px;
}


:root {

  background-color: #fcefd4;

  --fs-28: 28px;
  --fs-24: 24px;
  --fs-18: 18px;
  --fs-15: 15px;
  --fs-14: 14px;


  --px: 60px;
  --radius: 5px;

}

.expire-date .input-flex input { text-align: center; }

.btn { border-radius: var(--radius); }

.btn:active { transform: scale(0.99); }

.btn:focus {
  color: var(--white);
  background: var(--azure);
  outline: 2px solid var(--azure);
  outline-offset: 2px;
}

.btn-primary {
  background: transparent;
  font-family: "archia-regular";
  border: 1px solid #2f2f2f;
  color: #2f2f2f;
  padding: 13px 45px;
  border-radius: 100px;
}

.btn-primary b { margin-right: 10px; }


.cart {
  width: 40%;
  display:         flex;
  flex-direction:  column;
}

.cart-item-box {
  padding: 40px;
  margin-top: 0;
}

.product-card { margin-bottom: 20px; 
}

.product-card .card {
  position: relative;
  display:     flex;
  align-items: flex-start;
  gap: 20px;
}

.card .product-img { 
	border: 1px solid #2f2f2f;
	border-radius: 10px; }

.card .detail .product-name {
	font-family: "archia-regular";
  font-size: 1.3rem;
  font-weight: 1;
  color: #2f2f2f;
  margin-bottom: 10px;
}

.card .detail .wrapper {
  display: flex;
  gap: 20px;
}

.product-qty {
  display:     flex;
  align-items: center;
  gap: 10px;
}

.product-qty button {
  background: transparent;
  width:  20px;
  height: 20px;
  display:         flex;
  justify-content: center;
  align-items:     center;
}

.product-qty button:active,
.product-close-btn:active ion-icon { transform: scale(0.95); }

.product-qty button ion-icon {
  --ionicon-stroke-width: 60px;
  font-size: 10px;
}

.product-close-btn {
  position: absolute;
  top:   15px;
  right: 40px;
}

.product-close-btn ion-icon {
  font-size: 25px;
  color: var(--quick-silver);
}

.product-close-btn:hover ion-icon { color: var(--red-salsa); }

.discount-token {
  padding: 40px var(--px);
  border-top:    1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
}

.wrapper-flex {
  display:     flex;
  align-items: center;
  gap: 30px;
}

.wrapper-flex input {
  padding: 12px 15px;
  letter-spacing: 2px;
}

.btn-outline {
  padding: 10px 25px;
  border: 1px solid #2f2f2f;
  color: #2f2f2f;
  border-radius: 100px;
}

.btn-outline:hover {
  background: #fcefd4;
  color: #2f2f2f;
}

.amount { padding: 40px; }

.amount > div {
  display:         flex;
  justify-content: space-between;
}

.amount > div { margin-bottom: 10px; }

.amount .total {
	font-family: "archia-regular";
 font-weight: 999;
  color: #2f2f2f;
}

#bonific{
  display: none;
}





@media screen and (max-width: 1200px) {

  .item-flex { flex-direction: column-reverse; }

  /**
   * checkout section responsive 
   */

  .checkout {
    width: 100%;
    border-right: none;
  }

  .btn-primary { width: 100%; }

  /**
   * cart section responsive
   */

  .cart {
    display: grid;
    grid-template-columns:  1fr;
    width: 100%;
    border-bottom: 1px solid #2f2f2f;
  }

  .cart .wrapper { margin-top: auto; }

  .cart .cart-item-box {
    border-right: 1px solid #2f2f2f;
    margin-bottom: 0;
  }

  .discount-token { border-top: none; }

}





@media screen and (max-width: 1050px) {

  :root { --px: 40px; }

  .cart { grid-template-columns: 1fr; }

  .discount-token { border-top: 1px solid #2f2f2f; }

  .wrapper-flex { gap: 20px; }
    .cart .wrapper { margin-top: auto; }
  
    .discount-token { border-top: none; }
  
  .input-flex .expire-date,
  .input-flex .cvv { width: 100%; }
  
  .input-flex .expire-date,
  .input-flex .cvv { width: 100%; }

	.product-close-btn{
		right: 0;	
		margin-top: -10px;
	}

	.bottone-inserisci{
		width:100%;
	}
}





@media screen and (max-width: 567px) {

  :root { --px: 20px; }

  .payment-method,
  .input-flex {
    flex-direction: column;
    gap: 20px;
  }
	
  .payment-method .method { width: 100%; }

  .input-flex .expire-date,
  .input-flex .cvv { width: 100%; }

  .expire-date .input-flex { flex-direction: row; }

	.product-close-btn{
		right: 0;	
		margin-top: -10px;
	}
	
	.bottone-inserisci{
		width:100%;
	}

	.method-1{
		width:100%;
	}
}