@font-face {
  font-family: "archia-regular";
  src: url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf")
      format("woff"),
    url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf")
      format("opentype"),
    url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf")
      format("truetype");
}


*{
    padding:0;
    margin:0;
	box-sizing:border-box;
}
        
        
.nomeUtente{
	font-family: "archia-regular";       
}
       
       
body{
    background-color: #FCEFD4; 
}

.container{
    margin-top: 40px;
    display: grid;
    justify-content: center;
    text-align: center;
    row-gap: 50px;
    column-gap: 50px;
    grid-template-columns: repeat(5, 230px);

}


.sassi{
border: 3px solid green;
height: 218px;
  width: 218px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: .3s ease;
  background-color: #008CBA;
}



.text {
	margin-top:33px;
 height:30px;
border-bottom:1px solid #acd872;
border-left:1px solid #acd872;
border-right:1px solid #acd872;
width:217px;
z-index:999;
border-radius:0px 0px 12px 12px ;
 background-color:#fcefd4;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display:none;
  border-color: rgba(172, 216, 114, .5);
}



.prova{
	    width: 220px;
    height: 220px;
	  position: relative;
}
.dettagli-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px 8px 8px 8px;
    justify-content: center;
}

.nome{
    font-family: 'archia-regular';
    font-weight:900;
    font-size: 1.2rem;
}

.card{
    text-align: center;
    align-items: center;
}

img{
    border: 1px solid black;
    height: 80%;
    width: 70%;
    border-radius: 12px;
    margin-top: 5px;
    object-fit: cover;
}

p{
    margin-top: 3px;
    font-family: 'archia-regular';  
}

button{
    margin-top: 10px;
    border-radius: 20px;
    background-color: #FCEFD4;
    cursor: pointer;
    width: 100px;
}

.image{
    width: 220px;
    height: 220px;
}

.titolo{
    text-align: center;
    font-family: 'intro_script_demomedium';
    color: #2f2f2f;
    font-size:4.5rem;
}

.pasticceria{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scritte{
	text-decoration: none;
	font-family: 'archia-regular';  
}

/*LEO*/
.uname {
	font-family: 'archia-regular';
	width: 350px;
	height: 40px;
    border: 1px solid #2f2f2f;
	border-radius: 17px;
	padding: 8px 8px;
	cursor: pointer;
}

.uname:hover {
 	border: 2px solid #2f2f2f;
}

@media all and (min-width: 1255px) and (max-width: 1700px){

	 .container{
        grid-template-columns: repeat(5, 220px);
        column-gap: 25px;
    }
	
	
	.pasticceria{
		margin-top: 5px;
	}
	
	.image{
    	width: 220px;
    	height: 220px;
	}
	
	

	
	
}

@media all and (min-width: 1025px) and (max-width: 1254px){
 .container{
        grid-template-columns: repeat(3, 220px);
        column-gap: 25px;
    }
    
    .pasticceria{
		margin-top: 5px;
	}
	

	}

@media all and (min-width: 801px) and (max-width: 1024px){

	 .container{
        grid-template-columns: repeat(2, 220px);
        column-gap: 25px;
    }
	
	
	.pasticceria{
		margin-top: 5px;
	}

}



@media all and (min-width: 569px) and (max-width: 800px){
	 .container{
        grid-template-columns: repeat(2, 180px);
        column-gap: 15px;
    }
	
	.pasticceria{
		margin-top: 5px;
	}
	
	.image{
	    width: 180px;
	    height: 180px;
	}
	
	.text {
		width:176px;
		margin-top: -7px;
 		height:30px;
 		border-radius:0px 0px 18px 18px ;
 		border-color: rgba(172, 216, 114, .5);

	}

	.titolo{
	    text-align: center;
	    font-family: 'intro_script_demomedium';
	    color: #2f2f2f;
	    font-size:3.7rem;
	}
	
	img{
	    border-radius: 18px;
	}
}

@media all and (max-width: 568px){
	 .container{
        grid-template-columns: repeat(2, 160px);
        column-gap: 4px;
    }
	
	.pasticceria{
		margin-top: 5px;
	}
	
	.image{
	    width: 160px;
	    height: 160px;
	}
	
	.text {
		width:156px;
		margin-top: -7px;
 		height:30px;
 		border-radius:0px 0px 18px 18px ;
 		border-color: rgba(172, 216, 114, .5);
	}

		
	.titolo{
	    text-align: center;
	    font-family: 'intro_script_demomedium';
	    color: #2f2f2f;
	    font-size:3.3rem;
	}
	
	img{
	    border-radius: 18px;
	}
}












	