@charset "utf-8";

@font-face{
    font-family:"archia-regular";
    src:url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf") format("woff"),
    url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf") format("truetype");
  }


body {
	margin: 0;
	padding: 0;
	background-color: #FCEFD4;
	font-size: 2rem;
	font-family: 'archia-regular';
}

.login {
	width: 382px;
	overflow: hidden;
	margin: auto;
	margin-top: 69px;
	padding: 80px;
	background-color: #FCEFD4;
	border-radius: 15px;
	text-align: center;
}

h2 {
	text-align: center;
	color: #2f2f2f;
}

label {
	color: #2f2f2f;
	font-size: 17px;
	align-items: center;
}

#Uname {
	width: 300px;
	height: 30px;
	border-color: #2f2f2f;
	background-color: #ffe5b3;
	border-radius: 17px;
	padding-left: 8px;
}

#Pass {
	width: 300px;
	height: 30px;
	border-color: #2f2f2f;
	background-color: #ffe5b3;
	border-radius: 17px;
	padding-left: 8px;
}

#log {
	width: 300px;
	height: 30px;
	border: none;
	border-radius: 17px;
	padding-left: 7px;
	color: #2f2f2f;
	background-color: #FCEFD4;
	font-size: 17px;
}

span {
	color: #2f2f2f;
	font-size: 17px;
}

a {
	color: #2f2f2f;
	text-decoration: none;
}