@font-face{
    font-family:"archia-regular";
    src:url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf") format("woff"),
    url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf") format("truetype");
  }
  
 @font-face {
  font-family: 'intro_script_demomedium';
  src: url('./font/introscriptdemo-medium.woff2') format('woff2');
}
 


 *{
    margin: 0;
    padding: 0;
}


body{
    background-color: #FCEFD4;
}

.container{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
   	gap: 10%;
}

.item{
    display: inline-block;
    height: 450px;
    width: 450px;
    background: transparent;
}

.item-descrizione{
    display: inline-block;
    flex-direction: column;
    background: transparent;
}

.image{
    height: 450px;
    width: 460px;
    border: 3px solid #9d7955;
    border-radius: 25px;
     box-shadow: 0px 4px #DBD3C0;
}

.descrizione{
    display: inline-block;
    text-align:left;
    margin-top: 5%;
    font-family:"archia-regular";
    font-size: 1.3rem;
    max-width: 600px;
}

.product-title{
    font-family: "archia-regular";
    font-size: 3rem;
}

.categoria{
	font-family: 'archia-regular';
    text-align: center;
    text-decoration: none;
    align-items: center;
    height: 22px;
    width: 100px;
    background-color: #ea97b3;
    border-radius: 5px;
}

.aggiungi{
    font-family: "archia-regular";
    font-size: 28px;
    background-color: transparent;
    cursor: pointer;
    float: left;
    border: 3px solid #9d7955;
    border-radius: 30px;
    box-shadow: 0px 4px #DBD3C0;
    width: 336px;
    height: 60px;
}


.container-bottone{
    margin-top: 5rem;
    text-align: center;
    align-items: center;
}

.consigliati{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
}

.item-consigliato{
    margin-top: 2rem;
    display: inline-block;
    border-radius: 25px;
    height: auto;
    width: auto;
    text-align: center;
    justify-content: center;
}

.immagine-item-consigliato{
    display: inline-block;
    border-radius: 25px;
    border: 3px solid #9d7955;
}

a{
	text-decoration: none;
	color: #2f2f2f;
}

.product-title-nascosto{
	display: none;
	font-family: "archia-regular";
    font-size: 3rem;
	
}

.categoria-nascosto{
	display:none;
}
	

@media (max-width: 800px) {
	.categoria{
	display:none;

}

.categoria-nascosto{
	display:block;
		font-family: 'archia-regular';
    text-align: center;
    text-decoration: none;
    align-items: center;
    height: 22px;
    width: 100px;
    background-color: #ea97b3;
    border-radius: 5px;
    margin-left: 10%;
}
	
	
    .container-bottone{
        margin-top: 5rem;
        text-align: center;
        align-items: center;
    }

    .container{
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        gap: 20%;
        align-items: center;
        justify-content: center;
    }

    .item{
    	margin-top: 2rem;
        display: inline-block;
        background: transparent;
        justify-content: center;
        text-align: center;  
        padding-left: 0;
    }
    
    .item-descrizione{
        display: inline-block;
        flex-direction: column;
        padding-left: 10px;
    }

    .image{
        display: inline-block;
        border-radius: 25px;
        text-align: center;
        align-items: center;
        justify-content: center;
        width:85%;
       	height: 85%;
    }

    .product-title{
    display:none;
        font-family: "archia-regular";
        font-size: 2.5rem;
    }

    .consigliati{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5rem;
        height: 70%;
    }

    .aggiungi{
       box-shadow: 0px 4px #DBD3C0;
        font-family: "archia-regular";
        font-size: 18px;
        color: #2f2f2f;
        cursor: pointer;
        float: left;
        border: 3px solid #9d7955;
        border-color: #9d7955;
        border-radius: 30px;
        background-color: transparent;
    }
    .product-title-nascosto{
    display:block;
    margin-top:15px;
    margin-left: 10%;
    }
}

@media (max-width: 480px){
	   .image{
        display: inline-block;
        border-radius: 25px;
        text-align: center;
        align-items: center;
        justify-content: center;
        width:75%;
       	height: 85%;
    }
		
}