@font-face {
  font-family: "archia-regular";
  src: url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf")
      format("woff"),
    url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf")
      format("opentype"),
    url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf")
      format("truetype");
}

* {
  margin: 0;
  padding: 0;
  background-color: #fcefd4;
}

.elenco {
  display: inline-block;
  list-style: none;
  font-family: "archia-regular";
  font-size: 1.5rem;
  word-spacing: 6px;
}

.elenco li {
  display: inline-block;
}

.text-user {
  text-align: center;
  color: #2f2f2f;
  font-family: "Archia-Regular";
  font-size: 1.2rem;
  padding-right: 10px;
}

.nav-container {
  background-color: #fcefd4;
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.nav-container-item-dx{
  margin-left: 140px;
    display: flex;
    align-items: center;

}

.nav-container-item-sx{
  margin-right: 140px;

}

.nav-container-item{
  display: flex;
  flex-direction: row;
  gap: 0px 11px;
}

.cart{
	width: 50px;
	height: 50px;
}