@font-face {
  font-family: "archia-regular";
  src: url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf")
      format("woff"),
    url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf")
      format("opentype"),
    url("https://dafonttop.com/wp-data/a/21/8021/file/Archia-Regular.otf")
      format("truetype");
}

body {
    background-color: #fcefd4;
}
  
.wrapper {
    width: 350px;    
    padding: 30px;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    text-align:center;
}
  
  .container {
    width: 100%;
    height: 350px;
    position: relative;
  }
  
  .bowl {
    width: 230px;
    height: 90px;
    background-color: #d9f0fe;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 90px;
    border-radius: 0 0 150px 150px;
  }
  
  .bowl:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 110%;
    background-color: #afddfa;
    left: -5%;
    border-radius: 20px;
  }
  
  .base {
    height: 40px;
    width: 20px;
    background-color: #afddfa;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 90px;
  }
  .base:after {
    content: "";
    position: absolute;
    height: 40px;
    width: 120px;
    background-color: #d9f0fe;
    left: -50px;
    top: 30px;
    border-radius: 50px 50px 0 0;
  }
  
  .scoop1 {
    height: 130px;
    width: 130px;
    background-color: #f45c96;
    border-radius: 50%;
    position: absolute;
    background-size: 40px 150px;
    background-image: radial-gradient(
      circle at 20px 12px,
      #f8bd3d 25px,
      transparent 25px
    );
    top: 20px;
    left: 108px;
  }
  
  .scoop2 {
    height: 130px;
    width: 130px;
    background-color: #badc58;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    right: 70px;
  }
  
  .scoop3 {
    height: 130px;
    width: 130px;
    background-color: #f58619;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 70px;
    background-size: 25px 80px;
    background-image: radial-gradient(
      circle at 12.5px 17px,
      #5c0003 20px,
      transparent 21px
    );
  }
  
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 15px;
  }

.btns button {
    width: 150px;
    padding: 12px 0;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    outline: none;
    background-color: #acd872;
    color: #ffffff;
    cursor: pointer;
  }
  
.crea-bottone{
	    width: 150px;
    padding: 12px 0;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    outline: none;
    background-color: #acd872;
    color: #ffffff;
    cursor: pointer;
}
  
.intestazione {
	margin-top: 35px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 30px;
}

select {
  background-color: transparent;
  border: 1px solid #2f2f2f;
  border-radius: 5px;
}

.titolo {
	font-family: 'intro_script_demomedium';
	font-size: 4.5rem;
	color: #2f2f2f;
}
	
.container-form{
	display:flex;
	flex-direction: column;
	tetx-align: center;
	
}

.testo{
	font-family: "archia-regular";
	font-size: 2.5rem;
}